.SearchBox {
    padding: 20px;
    background-color: white; /* Optional: Background color of the form */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    width: 100%;
    max-width: 400px; /* Set a max width for the form */
    margin-bottom: 30px;
  }


h3 {
    text-align: center; /* Optional: Center the header */
  }

  body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8cebe9; /* Optional: Set a background color */
  }